<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      @ionicframework
    </ion-item>
    <ion-button (click)="logout()">Logout</ion-button>
    <ion-button color="secondary" expand="block" (click)="presentModal()">Profile</ion-button>
  </ion-list>
</ion-content>
