<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="loginForm">

  <ion-item>
    <ion-input required type="text" placeholder="{{'login.emailPlaceholder' | translate}}" formControlName="user"></ion-input>
  </ion-item>  

  <ion-item>
    <ion-input required type="password" placeholder="{{'login.passwordPlaceholder' | translate}}" formControlName="password"></ion-input>
  </ion-item>

  <ion-button (click)="login('user', 'password')" expand="block">Login</ion-button>

  <ion-button color="secondary" expand="block" href="/register" routerDirection="forward">Register</ion-button>

</form>
</ion-content>
