<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input required type="text" placeholder="Usuario"></ion-input>
  </ion-item>  

  <ion-item>
    <ion-input required type="password" placeholder="Password"></ion-input>
  </ion-item>

  <ion-button (click)="login('user', 'password')" expand="block">Login</ion-button>
  <ion-button color="secondary" expand="block" href="/register" routerDirection="forward">Register</ion-button>
</ion-content>
