<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="registerForm">

    <ion-item>
      <ion-input required type="text" placeholder="{{'register.firstNameLabel' | translate}}" formControlName="firstName"></ion-input>
    </ion-item>  

    <ion-item>
      <ion-input required type="text" placeholder="{{'register.lastNameLabel' | translate}}" formControlName="lastName"></ion-input>
    </ion-item>  

    <ion-item>
      <ion-input required type="text" placeholder="{{'register.emailAddressLabel' | translate}}" formControlName="email"></ion-input>
    </ion-item>  

    <ion-item>
      <ion-input required type="password" placeholder="{{'register.passwordLabel' | translate}}" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="password" placeholder="{{'register.confirmPasswordLabel' | translate}}" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-button (click)="register()" expand="block">Register</ion-button>

  </form>


</ion-content>
